PORT=8000

# Prisma Postgres connection string (from your Prisma dashboard)
DATABASE_URL=prisma+postgres://accelerate.prisma-data.net/?api_key=your_api_key_here

# JWT
JWT_SECRET=change-this-to-a-long-random-secret
JWT_EXPIRES_IN=7d

#SMTP Nodemailer configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587       
SMTP_USER="myuser@gmail.com" # put your email account here
SMTP_PASS="mypassword" # put your email App password which can be created on gmail settings... CHECK the readme for more info on how to create an App password for your email account
FROM_EMAIL="myuser@gmail.com"